# Archivos de sistema
.DS_Store
Thumbs.db

# Entornos de desarrollo
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Archivos de sistema operativo
desktop.ini

# Archivos de compilación o cache
dist/
build/

# Otros
node_modules/
.env

# Local Netlify folder
.netlify
