[build]
  publish = "public"
  functions = "netlify/functions"

# Sirve estáticos tal cual
[[redirects]]
  from = "/components/*"
  to = "/components/:splat"
  status = 200

[[redirects]]
  from = "/styles/*"
  to = "/styles/:splat"
  status = 200

[[redirects]]
  from = "/scripts/*"
  to = "/scripts/:splat"
  status = 200

[[redirects]]
  from = "/pages/*"
  to = "/pages/:splat"
  status = 200

# ❌ opcional: si NO quieres SPA, no pongas el redirect general
# [[redirects]]
#   from = "/*"
#   to = "/index.html"
#   status = 200
