/* ===================================================
   Index
=================================================== */

/* Indicadores Clave */

.indicadores-clave {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.titulo-seccion {
  font-size: 1.5rem;
  color: var(--color-Guinda-Imperial);
  margin-bottom: 1rem;
  text-align: center;
}

.indicadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  justify-items: center;
}

.indicador {
  background-color: var(--color-Carmesí-Clásico);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 240px;
  text-align: center;
}

.indicador:hover {
  transform: scale(1.05);
}

.indicador strong {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 5px;
}

.indicador p {
  font-size: 0.95rem;
  margin: 0;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
}

/* Accesos Destacados */

.accesos-destacados {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.accesos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  justify-items: center;
  margin-top: 20px;
}

.acceso-card {
  background-color: var(--color-Verde-Pino-Oscuro);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
  max-width: 240px;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acceso-card:hover {
  background-color: var(--color-Verde-Abismo);
  transform: scale(1.05);
}

.acceso-card strong {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 5px;
}

.acceso-card p {
  font-size: 0.95rem;
  margin: 0;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 400px) {
  .indicadores-grid,
  .accesos-grid {
    grid-template-columns: 1fr;
  }
}
